.media-title {
    text-align: center;
    font-size: 48px;
    padding: 1.2rem 1rem;
    background-image: url('../images/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.hero-banner {
    width: 100%;
    height: 100vh;
    background-image: url('../images/persona-4-hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.screenshots {
    width: 100%;
    height: auto;
}