h2 {
    text-align: center;
}
.hero-banner {
    width: 100%;
    height: 100vh;
    background-image: url('../images/persona-4-hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}